Setting/.env
.session
db.sqlite3
__pycache__/
*.pyc
venv/
.idea/spam_bot.iml
.idea/misc.xml
Setting/setting_bot/__pycache__/views.cpython-311.pyc
Setting/Setting/__pycache__/settings.cpython-311.pyc
Setting/db.sqlite3
